.registrationForm {
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 400px;
    &__title {
        font-size: 28px;
        line-height: 130%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;
    }
    &__btn {
        width: 100%;
    }
    &__nameAndSurname {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
    }
    &__input {
        width: 188px;
    }
    &__checkbox_wrap {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 16px;
        position: relative;
    }
    &__checkbox {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    &__checkbox_text {
        line-height: 24px;
        user-select: none;
        display: flex;
        align-items: center;
        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            border: 1px solid rgb(227, 230, 237);
            flex-grow: 0;
            border-radius: 4px;
            margin-right: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            cursor: pointer;
            &:hover {
                border: 1px solid #473CFA;
            }
        }
        span {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    &__checkbox:checked + .registrationForm__checkbox_text::before {
        border: 1px solid rgb(108, 156, 255);
        background-color: rgb(108, 156, 255);
        background-image: url("../../../assets/svg/mark.svg");
    }
    &__input_fullwidth {
        width: 100%;
    }
    &__hasAcc {
        line-height: 150%;
        color: rgb(161, 169, 195);
        span {
            margin-left: 18px;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 650px) {
    .registrationForm {
        &__nameAndSurname {
            flex-direction: column;
            gap: 42px;
        }
        &__title {
            font-size: 24px;
        }
        &__logo {
            width: 136px;
            height: 20px;
        }
        &__input {
            width: 100%;
        }
    }
}