.newslettersBlock {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 24px 24px 24px 54px;
    height: 700px;
    &__content {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    &__container {
        max-width: 450px;
    }
    &__title {
        margin-bottom: 44px;
        font-size: 28px;
        font-weight: 600;
        line-height: 130%;
    }
    &__img {
        max-height: 229px;
    }
    &__btn {
        width: 100%;
    }
    &__checkbox {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
    &__checkbox_text {
        line-height: 24px;
        user-select: none;
        display: flex;
        align-items: center;
        gap: 16px;
        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            border: 1px solid rgb(227, 230, 237);
            flex-grow: 0;
            border-radius: 4px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
            cursor: pointer;
            &:hover {
                border: 1px solid #473CFA;
            }
        }
    }
    &__checkbox:checked + .newslettersBlock__checkbox_text::before {
        border: 1px solid rgb(108, 156, 255);
        background-color: rgb(108, 156, 255);
        background-image: url("../../../../assets/svg/mark.svg");
    }
}

@media only screen and (max-width: 650px) {
    .newslettersBlock {
        padding: 24px 16px;
        border-radius: 0px;
        &__container {
            max-width: 100%;
        }
    }
}