.table {
    overflow-y: auto;
    position: relative;
    max-height: 608px;
    &__head {
        display: grid;
        align-items: center;
        column-gap: 10px;
        border-bottom: 1px solid rgb(227, 230, 237);
    }
    &__row {
        display: grid;
        align-items: center;
        cursor: pointer;
        background: #fff;
        color: #3C4852;
        column-gap: 10px;
        border-bottom: 1px solid rgb(227, 230, 237);
        height: 84px;
        &:hover {
            background-color: #eaeaea;
        }
    }
    &__head {
        padding: 24px 0;
    }
    &__head_item {
        font-weight: 600;
    }
}