.paymentPage {
    padding: 14px 0 108px 0;
    &__container {
        max-width: 1280px;
        margin: 0 auto;
        width: 100%;
        padding: 0 15px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 32px;
    }
    &__info_title {
        line-height: 150%;
        &:last-child {
            margin-top: 40px;
        }
    }
    &__ways_title {
        font-size: 60px;
        font-weight: 600;
        margin-bottom: 36px;
    }
    &__ways_list {
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;
    }
    &__wats_miniBtn {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 1px solid rgb(161, 169, 195);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img {
            filter: brightness(0) saturate(100%) invert(10%) sepia(25%) saturate(1006%) hue-rotate(209deg) brightness(93%) contrast(93%);
        }
    }
    &__ways_item {
        display: flex;
        align-items: center;
    }
    &__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 100px 0 170px 0;
    }
    &__card {
        width: 380px;
        height: 247px;
        backdrop-filter: blur(4px);
        border-bottom: 2px solid rgb(255, 255, 255);
        border-left: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        padding: 35px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        transform: rotate(-35deg);
        margin-left: -170px;
        &:nth-child(2) {
            transform: rotate(-35deg) translateY(50px);
        }
        &:nth-child(3) {
            transform: rotate(-34deg) translateY(120px);
        }
        &:nth-child(4) {
            transform: rotate(-30deg) translateY(150px);
        }
        &:nth-child(5) {
            transform: rotate(-25deg) translateY(180px);
        }
    }
    &__card_name {
        margin-bottom: 15px;
        font-size: 21px;
    }
    &__card_num {
        font-size: 21px;
    }
}